html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }
    body {
        background-color: #1c7939;
    }
    h1 {
        font-size: 1.8rem;
        color: black;
    }
    table, th, td {
        border: 1px solid black;
    }
    table {
        border-collapse: collapse;
        /*width: 100%;*/
    }
    tr:nth-child(even) {
        background-color: #eee;
    }
    tr:nth-child(odd) {
        background-color: #fff;
    }